---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { site } from '../../data/site';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={`${post.data.title} · ${site.title}`} description={post.data.description ?? site.description}>
  <article class="article">
    <div class="post-meta">
      {post.data.pubDate.toLocaleDateString('en-US', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
      })}
    </div>
    <h1>{post.data.title}</h1>
    {post.data.description && <p>{post.data.description}</p>}
    {!!post.data.tags?.length && (
      <div class="badges">
        {post.data.tags.map((tag) => (
          <span class="badge">{tag}</span>
        ))}
      </div>
    )}
    <div class="article-content">
      <Content />
    </div>
  </article>
</BaseLayout>
